.parrafo{
      padding:40px 20px 70px 100px;
      background: orange;
      border-top: 20px solid purple;
      border-right:10px solid purple;
      border-bottom: 20px solid purple;
      border-left:10px solid purple;
      margin:120px 60px 30px 60px;

}
